.aboutMe {
    min-height: 100vh;
    background: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    color: rgb(27, 27, 27);
}

.aboutMeContainer {
    width: 800px;
    min-height: 100vh;
}

.titleReturn {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: onLoad 1s
}

    .title {
        font-size: 3em;
    }

    .return {
        font-size: 1.2em;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgb(27, 27, 27);
    }

    .return:hover {
        font-size: 1.2em;
        color: rgb(218, 50, 190);
    }

.separator {
    margin: 1em 0;
    height: 5px;
    width: 170px;
    background: rgb(218, 50, 190);
    animation: onLoad 1s
}

.aboutMeDisplay {
    margin-top: 4em;
    width: 100%;
    height: auto;
    animation: onLoad 1s
}

    .aboutMeDisplay p {
        line-height: 2.1em;
    }


@media only screen and (max-width: 900px) {
    .title {
        font-size: 2em;
    }
    .return {
        font-size: 1em;
    }
    .aboutMeContainer {
        width: 300px;
    }
    .separator {
        margin: 1em 0;
        height: 3px;
        width: 130px;
    }
    .aboutMeDisplay p {
        font-size: 0.9em;
    }
}

@keyframes onLoad {
    0%   {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}