.projects {
    min-height: 100vh;
    background: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    color: rgb(27, 27, 27);
}

.projectsContainers {
    width: 800px;
    min-height: 100vh;
}

.titleReturn {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: onLoad 1s
}

    .title {
        font-size: 3em;
    }

    .return {
        font-size: 1.2em;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgb(27, 27, 27);
    }

    .return:hover {
        font-size: 1.2em;
        color: rgb(218, 50, 190);
    }

.separator {
    margin: 1em 0;
    height: 5px;
    width: 170px;
    background: rgb(218, 50, 190);
    animation: onLoad 1s
}

.projectsDisplay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 1rem;
    margin-top: 5em;
    width: 100%;
    height: auto;
    animation: onLoad 1s
}

    .projectCard {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
    }

    .projectCardDisabled {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgb(218, 218, 218);
        color: rgb(99, 122, 122);
        border-radius: 5px;
    }

        .projectImg {
            height: 200px;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

        .projectIcons {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .projectIcons a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
            text-decoration: none;
        }   

        .projectIcons a small {
            margin-left: 10px;
        }

            .projectIcons a:hover {
                color: rgb(218, 50, 190);
            }

.comingSoon {
    margin-top: 2em;
    color: rgb(110, 110, 110);
    width: 100%;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: onLoad 1s
}

    .comingSoon h2 {
        font-size: 1.3em
    }

@media only screen and (max-width: 900px) {
    .title {
        font-size: 2em;
    }
    .return {
        font-size: 1em;
    }
    .projectsContainers {
        width: 300px;
    }
    .separator {
        margin: 1em 0;
        height: 3px;
        width: 130px;
    }
    .projectsDisplay {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }
}

@keyframes onLoad {
    0%   {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}